spring:
  application:
    name: tht-api

  profiles:
    active: dev

  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never   # jangan auto init di production

  flyway:
    enabled: false

jwt:
  secret: super-secret-key-change-this-later
  expiration: 3600000

logging:
  level:
    root: INFO
    com.fadlan.tht: DEBUG
    org.springframework.jdbc.core: DEBUG

server:
  port: ${PORT:8080}
  error:
    whitelabel:
      enabled: false
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
