spring:
  application:
    name: flowmanage

  spring:
    profiles:
      active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/flowmanage_db
    username: postgres
    password: postgres
    
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.flowmanage: DEBUG

server:
  error:
    include-stacktrace: never
    include-message: always
