spring:
  application:
    name: tht-api

  spring:
    profiles:
      active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/tht_db
    username: postgres
    password: postgres
    
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: super-secret-key-change-this-later
  expiration: 3600000 # 1 jam (ms)

logging:
  level:
    root: INFO
    com.fadlan.tht: DEBUG

server:
  error:
    whitelabel:
      enabled: false
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
